<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive Web BLE Demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/webble.js"></script>
  </head>
  <body ng-app="webble">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1 class="text-center"> Web Bluetooth Demo </h1>
            <h2 class="text-center"><small><u>PREREQUISITES</u>: Chrome browser with <a href="chrome://flags/#enable-web-bluetooth" target="_blank">Web Bluetooth Enabled</a></small></h2>
            <alert ng-hide="isChrome" type="info" class="text-center">
              <b>HEADS UP</b> Are you sure you're using the Chrome browser?
            </alert>
            <p>&nbsp;</p>
            <form class="form-inline text-center">
              <div class="form-group">
                <label for="filterName">Filter by name</label>
                <select class="form-control" ng-model="nameFilter"
                        id="filterName"/>
                  <option value="reelyActive">reelyActive</option>
                  <option value="Charge HR">Charge HR</option>
                  <option value="MI">MI</option>
                  <option value="Kontakt">Kontakt</option>
                  <option value="estimote">estimote</option>
                </select>
              </div>
             <button class="btn btn-success" ng-click="scan()">Scan</button>
            </form>
            <p>&nbsp;</p>
            <alert ng-show="compatibilityError" type="danger"
                   class="text-center">
              <b>FAILED</b> Are you sure Web Bluetooth is supported and enabled?
            </alert>
            <h3> Device </h3>
            <pre ng-show="device">{{device}}</pre>
            <h3> Result </h3>
            <pre ng-show="result">{{result}}</pre>
            <h3> Event </h3>
            <pre ng-show="event">{{event}}</pre>
            <div class="well">
              This example shows how various Bluetooth devices can be discovered from within a web browser <i>with no app required!</i>  The only functionality at this time is the ability to filter discovery by device name.  Future work will implement <a href="https://webbluetoothcg.github.io/web-bluetooth/#advertising-events" target="_blank">Responding to Advertising Events</a> to enable dynamic interaction with nearby objects.  Developers can refer to <a href="https://developers.google.com/web/updates/2015/07/interact-with-ble-devices-on-the-web?hl=en" target="_blank">Interact with BLE devices on the Web</a> for code examples.
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/web-ble-demo"> web-ble-demo </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016
        </a>
      </footer>
    </div>
  </body>
</html>
